rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && exists(/databases/(default)/documents/_meta/admins/$(request.auth.uid));
    }
    // 所有图片可公开读取
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
